@font-face{
    src: url(fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
    font-family: OpenSans;
}
/* *{
    color: grey;
} */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 500px;
    display: grid;
    grid-template-columns: 250px 1fr;
    /* Add a responsive sizing  */
    grid-template-rows: 160px 1fr;
    font-family: OpenSans;
   
}


.content{
    display: grid;
    grid-template-rows: 100px 1fr;
}

.sidebar{
    color: white;
    background-color: rgb(47, 172, 255);
    grid-row: 1/-1;
}
.sidebar img{
    height: 25px;
    padding: 20px;

}

img{
    height: 25px;
}
.tittle{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}
.option-containers{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.options{
    font-weight: bold;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-auto-rows: 50px;
    gap: 0 15px ;

}

.options > a{
 text-decoration: none;
 color: white;
 align-self: center;

}
.header{
    display: grid;
    gap: 0px 15px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/-1;
    padding: 15px;
    font-weight: bold;
    box-shadow: 0px 2px 2px -1px  rgba(1, 1, 1, 0.3) ;

}
input[type="text"]{
    border: 0;
    background-color: rgb(229, 229, 231);
    border-radius: 30px;
    height: 23px;
    font-size: large;
    width: 100%;
}
.search{
    display: flex;
    align-items: center;
}
a.user-name{
    color: black;
    text-decoration: none;
}
.user{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2.5%;
}
.user > img[alt="User foto"]{
    height: 50px;
    border-radius: 50%;
}
.greeting > img[alt="User foto"]{
    height: 70px;
    border-radius: 50%;
}
.greeting{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.greeting > div > .user-name{
    font-size: 25px;
}
.buttons{
   margin:  2%;
}
button{
    background-color: rgb(47, 172, 255);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 7px;
    width: 70px;
    margin: 2%;

}
.main{
  display: grid;
  grid-template-columns: 3fr minmax(250px, 1fr);
  
  gap: 20px;
  background-color: rgb(229, 229, 231);
  padding: 20px;
}

.projects{
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;

}
.project{
    background-color: white;
    border-left: 4px solid orange;
    border-radius: 15px;
    width: 350px;
    height: 200px;
    padding: 20px;
}
.icons{
   display: flex;
   justify-content: end;
}
.bold{
    font-weight: bold;
    color: black;
}

.announsments{
    background-color: white;
    padding: 40px;
    border-radius: 20px;

}
.other > .bold{
    margin: 10px;
    padding: 10px;
}

.trending{
    background-color: white;
    padding: 20px;
    border-radius: 20px;

}

.trending img{
    height: 50px;
    border-radius: 50%;
}
.trending > div{
    display: flex;
    gap: 15px;
    margin: 20px;
}

